.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #CE5959 !important;
}

.navbar-brand {
  font-family: Oleo Script;
  font-size: 2rem;
}

.nav-item a{
  font-size: 1.2rem;
}

.signin-signup-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.image-wrapper {
  height: 580px;
  width: 800px;
  overflow: hidden;
  border-radius: 0 20px 20px 0;
}

.image-wrapper img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

form h2{
  font-weight: bold;
}

.form-buttons a:first-child{
  background-color: #89375F;
  color: white;
}

.form-buttons a:last-child{
  border-color: #89375F;
  color: #89375F;
}

.form-buttons a:last-child:hover{
  background-color: #89375F;
  color: white;
}

.testimonial-card {
  border-radius: 20px !important;
  overflow: hidden;
  transition: 0.3s;
  border: 1px solid #de6a6a;
}

.testimonial-card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.testimonial-card p:first-child{
  background-color: #de6a6a;
  color: white;
  font-weight: bold;
}

.profile-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.form-group input[type="file"]{
  display: none;
}

label .custom-picture{
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 100%;
  /* border: 3px solid black; */
}

.custom-picture-upload {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-inputs .input-sections {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.form-inputs .input-sections div:last-child{
  margin-left: 10px;
}